In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
overdose_death_rates = "Resources/overdose_death_rates.csv"
prescription_rates = "Resources/opioid_total_us_years.csv"

# read as df
overdose_df = pd.read_csv(overdose_death_rates,sep = ";")
prescription_df = pd.read_csv(prescription_rates)

# Read and clean overdose data

In [11]:
overdose_df.head()

,Location,Year,All Drug Overdose Death Rate (Age-Adjusted),All Drug Overdose Death Rate (Age-Adjusted) (missing reason),Opioid Overdose Death Rate (Age-Adjusted),Opioid Overdose Death Rate (Age-Adjusted) (missing reason),Percent Change in All Drug Overdose Death Rate from Prior Year,Percent Change in All Drug Overdose Death Rate from Prior Year (missing reason),Percent Change in Opioid Overdose Death Rate from Prior Year,Percent Change in Opioid Overdose Death Rate from Prior Year (missing reason)
0,Maryland,2012,13.7,NaN,10.9,NaN,0.17,NaN,0.20,NaN
1,Arizona,2015,19.0,NaN,10.2,NaN,0.04,NaN,0.16,NaN
2,Vermont,2003,10.2,NaN,7.2,NaN,0.36,NaN,0.24,NaN
3,Kansas,2008,8.0,NaN,3.5,NaN,-0.20,NaN,-0.20,NaN
4,Idaho,2009,11.6,NaN,4.2,NaN,0.18,NaN,-0.13,NaN

In [17]:
#group data by states
year_overdose = overdose_df.groupby(["Year"]).mean()
year_overdose=year_overdose.reset_index()
year_overdose

,Year,All Drug Overdose Death Rate (Age-Adjusted),Opioid Overdose Death Rate (Age-Adjusted),Percent Change in All Drug Overdose Death Rate from Prior Year,Percent Change in Opioid Overdose Death Rate from Prior Year
0,1999,5.963265,3.169767,NaN,NaN
1,2000,6.434000,3.506818,0.117143,0.174186
2,2001,7.408000,3.919149,0.195600,0.290930
3,2002,8.522000,4.629787,0.175400,0.244468
4,2003,9.466667,5.341304,0.124400,0.170435
5,2004,9.980000,5.416667,0.078800,0.094130
6,2005,10.586000,5.800000,0.075200,0.105417
7,2006,12.146000,6.683673,0.177600,0.186250
8,2007,12.331373,6.940816,0.034200,0.061042
9,2008,12.678431,7.350980,0.052745,0.075714
10,2009,12.378431,7.469388,-0.012353,0.051020
11,2010,13.013725,7.694000,0.114314,0.132449
12,2011,14.394000,8.410000,0.097000,0.086600
13,2012,14.052941,8.442000,-0.004200,0.022200
14,2013,14.870588,9.200000,0.068431,0.106600
15,2014,16.062745,10.437255,0.099216,0.150000
16,2015,17.815686,11.870588,0.105098,0.120000

# Read and clean prescription data

In [16]:
prescription_df

    Year  Prescriptions Dispensed (millions)
0   1991                                  76
1   1992                                  79
2   1993                                  82
3   1994                                  85
4   1995                                  87
5   1996                                  94
6   1997                                  97
7   1998                                 105
8   1999                                 116
9   2000                                 126
10  2001                                 138
11  2002                                 142
12  2003                                 149
13  2004                                 155
14  2005                                 163
15  2006                                 174
16  2007                                 184
17  2008                                 196
18  2009                                 202
19  2010                                 210
20  2011                                 219
21  2012                                 217
22  2013                                 207

In [23]:
all_data_df=year_overdose.set_index('Year').join(prescription_df.set_index('Year'))
all_data_df=all_data_df.reset_index()
#all_data_df=all_data_df.dropna()
all_data_df

,Year,All Drug Overdose Death Rate (Age-Adjusted),Opioid Overdose Death Rate (Age-Adjusted),Percent Change in All Drug Overdose Death Rate from Prior Year,Percent Change in Opioid Overdose Death Rate from Prior Year,Prescriptions Dispensed (millions)
0,1999,5.963265,3.169767,NaN,NaN,116.0
1,2000,6.434000,3.506818,0.117143,0.174186,126.0
2,2001,7.408000,3.919149,0.195600,0.290930,138.0
3,2002,8.522000,4.629787,0.175400,0.244468,142.0
4,2003,9.466667,5.341304,0.124400,0.170435,149.0
5,2004,9.980000,5.416667,0.078800,0.094130,155.0
6,2005,10.586000,5.800000,0.075200,0.105417,163.0
7,2006,12.146000,6.683673,0.177600,0.186250,174.0
8,2007,12.331373,6.940816,0.034200,0.061042,184.0
9,2008,12.678431,7.350980,0.052745,0.075714,196.0
10,2009,12.378431,7.469388,-0.012353,0.051020,202.0
11,2010,13.013725,7.694000,0.114314,0.132449,210.0
12,2011,14.394000,8.410000,0.097000,0.086600,219.0
13,2012,14.052941,8.442000,-0.004200,0.022200,217.0
14,2013,14.870588,9.200000,0.068431,0.106600,207.0
15,2014,16.062745,10.437255,0.099216,0.150000,NaN
16,2015,17.815686,11.870588,0.105098,0.120000,NaN

In [25]:
graph_data = all_data_df[['Year',
                          'All Drug Overdose Death Rate (Age-Adjusted)',
                          'Opioid Overdose Death Rate (Age-Adjusted)', 'Prescriptions Dispensed (millions)']]
graph_data

,Year,All Drug Overdose Death Rate (Age-Adjusted),Opioid Overdose Death Rate (Age-Adjusted),Prescriptions Dispensed (millions)
0,1999,5.963265,3.169767,116.0
1,2000,6.434000,3.506818,126.0
2,2001,7.408000,3.919149,138.0
3,2002,8.522000,4.629787,142.0
4,2003,9.466667,5.341304,149.0
5,2004,9.980000,5.416667,155.0
6,2005,10.586000,5.800000,163.0
7,2006,12.146000,6.683673,174.0
8,2007,12.331373,6.940816,184.0
9,2008,12.678431,7.350980,196.0
10,2009,12.378431,7.469388,202.0
11,2010,13.013725,7.694000,210.0
12,2011,14.394000,8.410000,219.0
13,2012,14.052941,8.442000,217.0
14,2013,14.870588,9.200000,207.0
15,2014,16.062745,10.437255,NaN
16,2015,17.815686,11.870588,NaN