In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
opioid_prescription = "Opioid_prescription_data.csv"

# read as df
opioid_df = pd.read_csv(opioid_prescription)

In [13]:
opioid_df.head()

,FIPS,State,County,MME_PerCap_2010,MME_PerCap_2015,Quartile_2015,2010-2015_Change
0,2050,AK,BETHEL,NaN,NaN,NaN,NaN
1,2068,AK,DENALI,NaN,NaN,NaN,NaN
2,2013,AK,ALEUTIANS EAST,NaN,NaN,NaN,NaN
3,2016,AK,ALEUTIANS WEST,NaN,NaN,NaN,NaN
4,2240,AK,SOUTHEAST FAIRBANKS,NaN,NaN,NaN,NaN

In [14]:
# clean data (drop NA, remove unecessary columns)
opioid_df=opioid_df.drop(columns=['FIPS'])
opioid_df=opioid_df.dropna()
opioid_df

,State,County,MME_PerCap_2010,MME_PerCap_2015,Quartile_2015,2010-2015_Change
17,AK,KENAI PENINSULA,1362.1,1343.7,4.0,Stable
18,AK,MATANUSKA SUSITNA,930.4,869.3,3.0,Stable
19,AK,ANCHORAGE,863.8,808.9,3.0,Stable
20,AK,KETCHIKAN GATEWAY,817.4,731.1,3.0,Decreased
21,AK,PETERSBURG,1017.7,682.9,3.0,Decreased
...,...,...,...,...,...,...
3137,WY,ALBANY,458.4,410.9,1.0,Decreased
3138,WY,TETON,406.3,387.8,1.0,Stable
3139,WY,CAMPBELL,581.7,384.7,1.0,Decreased
3140,WY,GOSHEN,601.4,375.4,1.0,Decreased
3141,WY,CROOK,210.7,11.2,1.0,Decreased