In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
opioid_prescription = "Opioid_prescription_data.csv"

# read as df
opioid_df = pd.read_csv(opioid_prescription)

In [13]:
opioid_df.head()

,FIPS,State,County,MME_PerCap_2010,MME_PerCap_2015,Quartile_2015,2010-2015_Change
0,2050,AK,BETHEL,NaN,NaN,NaN,NaN
1,2068,AK,DENALI,NaN,NaN,NaN,NaN
2,2013,AK,ALEUTIANS EAST,NaN,NaN,NaN,NaN
3,2016,AK,ALEUTIANS WEST,NaN,NaN,NaN,NaN
4,2240,AK,SOUTHEAST FAIRBANKS,NaN,NaN,NaN,NaN

In [14]:
# clean data (drop NA, remove unecessary columns)
opioid_df=opioid_df.drop(columns=['FIPS'])
opioid_df=opioid_df.dropna()
opioid_df

,State,County,MME_PerCap_2010,MME_PerCap_2015,Quartile_2015,2010-2015_Change
17,AK,KENAI PENINSULA,1362.1,1343.7,4.0,Stable
18,AK,MATANUSKA SUSITNA,930.4,869.3,3.0,Stable
19,AK,ANCHORAGE,863.8,808.9,3.0,Stable
20,AK,KETCHIKAN GATEWAY,817.4,731.1,3.0,Decreased
21,AK,PETERSBURG,1017.7,682.9,3.0,Decreased
...,...,...,...,...,...,...
3137,WY,ALBANY,458.4,410.9,1.0,Decreased
3138,WY,TETON,406.3,387.8,1.0,Stable
3139,WY,CAMPBELL,581.7,384.7,1.0,Decreased
3140,WY,GOSHEN,601.4,375.4,1.0,Decreased
3141,WY,CROOK,210.7,11.2,1.0,Decreased

In [18]:
# Groupby state
prescription_by_state=opioid_df.groupby(['State'])['MME_PerCap_2010','MME_PerCap_2015'].sum()
state_df=pd.DataFrame(prescription_by_state)
state_df

       MME_PerCap_2010  MME_PerCap_2015
State
AK              7400.0           6097.7
AL             61744.7          63231.0
AR             61462.1          59221.7
AZ             14909.2          13493.5
CA             59583.8          47343.8
CO             37751.5          32495.4
CT              5890.4           5421.3
DC               240.3            205.9
DE              4642.6           3188.5
FL             82132.6          51563.9
GA            114031.1         108701.2
HI              3865.4           2440.1
IA             42767.4          42829.5
ID             29782.5          30852.2
IL             57368.2          50353.9
IN             93594.7          72835.4
KS             53358.5          52421.7
KY            126914.6         103103.6
LA             40485.2          35044.8
MA              9141.5           7699.3
MD             25439.0          19484.7
ME             15874.0          13202.5
MI             81008.9          77824.3
MN             41565.1          37426.6
MO             77751.8          71831.9
MS             57005.2          54494.5
MT             26994.4          22997.8
NC             90345.0          89924.1
ND             20044.5          16442.0
NE             29332.2          29027.4
NH              8815.5           8545.5
NJ             16166.7          15647.9
NM             20549.6          17995.3
NV             15524.4          14347.7
NY             39650.5          39413.2
OH             75255.7          56051.4
OK             58813.0          53615.0
OR             39137.9          32107.4
PA             57176.0          53322.7
RI              3385.7           2787.4
SC             33781.6          35153.5
SD             21045.9          19039.7
TN            136783.6         126815.6
TX            110598.1          86244.9
UT             26555.4          25407.7
VA            111328.2         102168.0
VT              5979.3           7517.5
WA             33838.3          27929.4
WI             39168.7          35845.3
WV             61414.1          49089.0
WY             14073.0          15369.6