In [1]:
import os
import requests
import json
from pprint import pprint
from api_key import api_key
import pandas as pd

In [2]:
# Save config information
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"


states_id = ['01', '02', '04', '05', '06', '08', '09', '10', '11', '12', '13', '15', '16', '17', '18', '19',
             '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', 
             '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51',
             '53', '54', '55', '56']

states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 
          'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 
          'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

# 01 Alabama, 02 Alaska, 04 Arizona, 05 Arkansas, 06 California, 08 Colorado, 09 Connecticut,
# 10 Delaware, 11 District of Columbia, 12 Florida, 13 Georgia, 15 Hawaii, 16 Idaho,
# 17 Illinois, 18 Indiana, 19 Iowa, 20 Kansas, 21 Kentucky, 22 Louisiana, 23 Maine, 
# 24 Maryland, 25 Massachusetts, 26 Michigan, 27 Minnesota, 28 Mississippi, 29 Missouri, 30 Montana, 
# 31 Nebraska, 32 Nevada, 33 New Hampshire, 34 New Jersey, 35 New Mexico, 36 New York, 37 North Carolina, 
# 38 North Dakota, 39 Ohio, 40 Oklahoma, 41 Oregon, 42 Pennsylvania, 44 Rhode Island, 45 South Carolina,
# 46 South Dakota, 47 Tennessee, 48 Texas, 49 Utah, 50 Vermont, 51 Virginia, 53 Washington, 54 West Virginia, 
# 55 Wisconsin, 56 Wyoming

states_data = {'states_id': states_id, 'states': states}
states_df = pd.DataFrame(states_data)
#states_df.head()

states_df_new = states_df.reset_index(drop=True)
states_short = states_df_new.set_index('states_id')

states_short.head()

          states
states_id
01            AL
02            AK
04            AZ
05            AR
06            CA

In [3]:
# Average Weekly Wage in Private Total, all industries for All establishment sizes in Alabama -- Statewide, NSA
# Industry:      Total, all industries
# Owner:         Private
# Size:          All establishment sizes
# Type:          Average Weekly Wage

seriesid = []

for state in states_id:
    seriesid.append(f'ENU'+state+'0100040510')

#seriesid

In [4]:
# test = []
# for x in ['01','04']:
#     test.append(states_short.loc[x]

# print(test)

tryout = []
for r in range(0,4):
    tryout.append(states_df['states'][r])

tryout

['AL', 'AK', 'AZ', 'AR']

In [5]:
startyear = '1999'
endyear = '2018'

# Build query URL

response_all = []

for state in states_id:
    query_url = url + f'ENU'+state+'00010510' + "?" + "registrationkey=" + api_key + "&catalog=true&startyear=" + startyear + '&endyear=' + endyear + '&calculations=true&annualaverage=true&pctchange=true'
    response_json = requests.get(query_url).json()
    response_all.append(response_json)

response_all[0]

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 291,
 'message': ['No Data Available for Series ENU0100010510 Year: 1999',
  'No Data Available for Series ENU0100010510 Year: 2000',
  'Unable to get Catalog Data for series ENU0100010510'],
 'Results': {'series': [{'seriesID': 'ENU0100010510',
    'data': [{'year': '2018',
      'period': 'M13',
      'periodName': 'Annual',
      'value': '1598129',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-22136',
        '3': '-13336',
        '6': '-3264',
        '12': '23357'},
       'pct_changes': {'1': '-1.4', '3': '-0.8', '6': '-0.2', '12': '1.5'}}},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '1620265',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-2515',
        '3': '17314',
        '6': '15299',
        '12': '29569'},
       'pct_changes': {'1': '-0.2', '3': '1.1', '6': '1.0', '12': '1.9'}}},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '1622780',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '11315',
        '3': '16778',
        '6': '26770',
        '12': '30568'},
       'pct_changes': {'1': '0.7', '3': '1.0', '6': '1.7', '12': '1.9'}}},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '1611465',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '8514',
        '3': '10072',
        '6': '18311',
        '12': '27031'},
       'pct_changes': {'1': '0.5', '3': '0.6', '6': '1.1', '12': '1.7'}}},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '1602951',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-3051',
        '3': '-2015',
        '6': '19258',
        '12': '22784'},
       'pct_changes': {'1': '-0.2', '3': '-0.1', '6': '1.2', '12': '1.4'}}},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '1606002',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '4609',
        '3': '9992',
        '6': '32130',
        '12': '23884'},
       'pct_changes': {'1': '0.3', '3': '0.6', '6': '2.0', '12': '1.5'}}},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '1601393',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-3573',
        '3': '8239',
        '6': '40402',
        '12': '24754'},
       'pct_changes': {'1': '-0.2', '3': '0.5', '6': '2.6', '12': '1.6'}}},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '1604966',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '8956',
        '3': '21273',
        '6': '14270',
        '12': '23034'},
       'pct_changes': {'1': '0.6', '3': '1.3', '6': '0.9', '12': '1.5'}}},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '1596010',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '2856',
        '3': '22138',
        '6': '3798',
        '12': '20325'},
       'pct_changes': {'1': '0.2', '3': '1.4', '6': '0.2', '12': '1.3'}}},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '1593154',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '9461',
        '3': '32163',
        '6': '8720',
        '12': '22618'},
       'pct_changes': {'1': '0.6', '3': '2.1', '6': '0.6', '12': '1.4'}}},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '1583693',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '9821',
        '3': '-7003',
        '6': '3526',
        '12': '18794'},
       'pct_changes': {'1': '0.6', '3': '-0.4', '6': '0.2', '12': '1.2'}}},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '1573872',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '12881',
        '3': '-18340',
        '6': '-8246',
        '12': '19153'},
       'pct_changes': {'1': '0.8', '3': '-1.2', '6': '-0.5', '12': '1.2'}}},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '1560991',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-29705',
        '3': '-23443',
        '6': '-15648',
        '12': '17760'},
       'pct_changes': {'1': '-1.9', '3': '-1.5', '6': '-1.0', '12': '1.2'}}},
     {'year': '2017',
      'period': 'M13',
      'periodName': 'Annual',
      'value': '1574772',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-15924',
        '3': '-9662',
        '6': '-1867',
        '12': '19230'},
       'pct_changes': {'1': '-1.0', '3': '-0.6', '6': '-0.1', '12': '1.2'}}},
     {'year': '2017',
      'period': 'M12',
      'periodName': 'December',
      'value': '1590696',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-1516',
        '3': '10529',
        '6': '8764',
        '12': '21172'},
       'pct_changes': {'1': '-0.1', '3': '0.7', '6': '0.6', '12': '1.3'}}},
     {'year': '2017',
      'period': 'M11',
      'periodName': 'November',
      'value': '1592212',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '7778',
        '3': '10094',
        '6': '16527',
        '12': '24119'},
       'pct_changes': {'1': '0.5', '3': '0.6', '6': '1.0', '12': '1.5'}}},
     {'year': '2017',
      'period': 'M10',
      'periodName': 'October',
      'value': '1584434',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '4267',
        '3': '7795',
        '6': '13898',
        '12': '22287'},
       'pct_changes': {'1': '0.3', '3': '0.5', '6': '0.9', '12': '1.4'}}},
     {'year': '2017',
      'period': 'M09',
      'periodName': 'September',
      'value': '1580167',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-1951',
        '3': '-1765',
        '6': '15268',
        '12': '16267'},
       'pct_changes': {'1': '-0.1', '3': '-0.1', '6': '1.0', '12': '1.0'}}},
     {'year': '2017',
      'period': 'M08',
      'periodName': 'August',
      'value': '1582118',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5479',
        '3': '6433',
        '6': '27399',
        '12': '20018'},
       'pct_changes': {'1': '0.3', '3': '0.4', '6': '1.8', '12': '1.3'}}},
     {'year': '2017',
      'period': 'M07',
      'periodName': 'July',
      'value': '1576639',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-5293',
        '3': '6103',
        '6': '33408',
        '12': '17223'},
       'pct_changes': {'1': '-0.3', '3': '0.4', '6': '2.2', '12': '1.1'}}},
     {'year': '2017',
      'period': 'M06',
      'periodName': 'June',
      'value': '1581932',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '6247',
        '3': '17033',
        '6': '12408',
        '12': '20710'},
       'pct_changes': {'1': '0.4', '3': '1.1', '6': '0.8', '12': '1.3'}}},
     {'year': '2017',
      'period': 'M05',
      'periodName': 'May',
      'value': '1575685',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5149',
        '3': '20966',
        '6': '7592',
        '12': '15788'},
       'pct_changes': {'1': '0.3', '3': '1.3', '6': '0.5', '12': '1.0'}}},
     {'year': '2017',
      'period': 'M04',
      'periodName': 'April',
      'value': '1570536',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5637',
        '3': '27305',
        '6': '8389',
        '12': '11482'},
       'pct_changes': {'1': '0.4', '3': '1.8', '6': '0.5', '12': '0.7'}}},
     {'year': '2017',
      'period': 'M03',
      'periodName': 'March',
      'value': '1564899',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '10180',
        '3': '-4625',
        '6': '999',
        '12': '22217'},
       'pct_changes': {'1': '0.7', '3': '-0.3', '6': '0.1', '12': '1.4'}}},
     {'year': '2017',
      'period': 'M02',
      'periodName': 'February',
      'value': '1554719',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '11488',
        '3': '-13374',
        '6': '-7381',
        '12': '21508'},
       'pct_changes': {'1': '0.7', '3': '-0.9', '6': '-0.5', '12': '1.4'}}},
     {'year': '2017',
      'period': 'M01',
      'periodName': 'January',
      'value': '1543231',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-26293',
        '3': '-18916',
        '6': '-16185',
        '12': '17971'},
       'pct_changes': {'1': '-1.7', '3': '-1.2', '6': '-1.0', '12': '1.2'}}},
     {'year': '2016',
      'period': 'M13',
      'periodName': 'Annual',
      'value': '1555542',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-13982',
        '3': '-6605',
        '6': '-3874',
        '12': '23375'},
       'pct_changes': {'1': '-0.9', '3': '-0.4', '6': '-0.2', '12': '1.5'}}},
     {'year': '2016',
      'period': 'M12',
      'periodName': 'December',
      'value': '1569524',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '1431',
        '3': '5624',
        '6': '8302',
        '12': '11332'},
       'pct_changes': {'1': '0.1', '3': '0.4', '6': '0.5', '12': '0.7'}}},
     {'year': '2016',
      'period': 'M11',
      'periodName': 'November',
      'value': '1568093',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5946',
        '3': '5993',
        '6': '8196',
        '12': '15442'},
       'pct_changes': {'1': '0.4', '3': '0.4', '6': '0.5', '12': '1.0'}}},
     {'year': '2016',
      'period': 'M10',
      'periodName': 'October',
      'value': '1562147',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-1753',
        '3': '2731',
        '6': '3093',
        '12': '16973'},
       'pct_changes': {'1': '-0.1', '3': '0.2', '6': '0.2', '12': '1.1'}}},
     {'year': '2016',
      'period': 'M09',
      'periodName': 'September',
      'value': '1563900',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '1800',
        '3': '2678',
        '6': '21218',
        '12': '24768'},
       'pct_changes': {'1': '0.1', '3': '0.2', '6': '1.4', '12': '1.6'}}},
     {'year': '2016',
      'period': 'M08',
      'periodName': 'August',
      'value': '1562100',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '2684',
        '3': '2203',
        '6': '28889',
        '12': '21298'},
       'pct_changes': {'1': '0.2', '3': '0.1', '6': '1.9', '12': '1.4'}}},
     {'year': '2016',
      'period': 'M07',
      'periodName': 'July',
      'value': '1559416',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-1806',
        '3': '362',
        '6': '34156',
        '12': '21446'},
       'pct_changes': {'1': '-0.1', '3': '0.0', '6': '2.2', '12': '1.4'}}},
     {'year': '2016',
      'period': 'M06',
      'periodName': 'June',
      'value': '1561222',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '1325',
        '3': '18540',
        '6': '3030',
        '12': '22411'},
       'pct_changes': {'1': '0.1', '3': '1.2', '6': '0.2', '12': '1.5'}}},
     {'year': '2016',
      'period': 'M05',
      'periodName': 'May',
      'value': '1559897',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '843',
        '3': '26686',
        '6': '7246',
        '12': '25062'},
       'pct_changes': {'1': '0.1', '3': '1.7', '6': '0.5', '12': '1.6'}}},
     {'year': '2016',
      'period': 'M04',
      'periodName': 'April',
      'value': '1559054',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '16372',
        '3': '33794',
        '6': '13880',
        '12': '32825'},
       'pct_changes': {'1': '1.1', '3': '2.2', '6': '0.9', '12': '2.2'}}},
     {'year': '2016',
      'period': 'M03',
      'periodName': 'March',
      'value': '1542682',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '9471',
        '3': '-15510',
        '6': '3550',
        '12': '29709'},
       'pct_changes': {'1': '0.6', '3': '-1.0', '6': '0.2', '12': '2.0'}}},
     {'year': '2016',
      'period': 'M02',
      'periodName': 'February',
      'value': '1533211',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '7951',
        '3': '-19440',
        '6': '-7591',
        '12': '29212'},
       'pct_changes': {'1': '0.5', '3': '-1.3', '6': '-0.5', '12': '1.9'}}},
     {'year': '2016',
      'period': 'M01',
      'periodName': 'January',
      'value': '1525260',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-32932',
        '3': '-19914',
        '6': '-12710',
        '12': '30023'},
       'pct_changes': {'1': '-2.1', '3': '-1.3', '6': '-0.8', '12': '2.0'}}},
     {'year': '2015',
      'period': 'M13',
      'periodName': 'Annual',
      'value': '1532167',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-26025',
        '3': '-13007',
        '6': '-5803',
        '12': '27847'},
       'pct_changes': {'1': '-1.7', '3': '-0.8', '6': '-0.4', '12': '1.9'}}},
     {'year': '2015',
      'period': 'M12',
      'periodName': 'December',
      'value': '1558192',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5541',
        '3': '19060',
        '6': '19381',
        '12': '29503'},
       'pct_changes': {'1': '0.4', '3': '1.2', '6': '1.3', '12': '1.9'}}},
     {'year': '2015',
      'period': 'M11',
      'periodName': 'November',
      'value': '1552651',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '7477',
        '3': '11849',
        '6': '17816',
        '12': '30388'},
       'pct_changes': {'1': '0.5', '3': '0.8', '6': '1.2', '12': '2.0'}}},
     {'year': '2015',
      'period': 'M10',
      'periodName': 'October',
      'value': '1545174',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '6042',
        '3': '7204',
        '6': '18945',
        '12': '29424'},
       'pct_changes': {'1': '0.4', '3': '0.5', '6': '1.2', '12': '1.9'}}},
     {'year': '2015',
      'period': 'M09',
      'periodName': 'September',
      'value': '1539132',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-1670',
        '3': '321',
        '6': '26159',
        '12': '26118'},
       'pct_changes': {'1': '-0.1', '3': '0.0', '6': '1.7', '12': '1.7'}}},
     {'year': '2015',
      'period': 'M08',
      'periodName': 'August',
      'value': '1540802',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '2832',
        '3': '5967',
        '6': '36803',
        '12': '25873'},
       'pct_changes': {'1': '0.2', '3': '0.4', '6': '2.4', '12': '1.7'}}},
     {'year': '2015',
      'period': 'M07',
      'periodName': 'July',
      'value': '1537970',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-841',
        '3': '11741',
        '6': '42733',
        '12': '30756'},
       'pct_changes': {'1': '-0.1', '3': '0.8', '6': '2.9', '12': '2.0'}}},
     {'year': '2015',
      'period': 'M06',
      'periodName': 'June',
      'value': '1538811',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '3976',
        '3': '25838',
        '6': '10122',
        '12': '26884'},
       'pct_changes': {'1': '0.3', '3': '1.7', '6': '0.7', '12': '1.8'}}},
     {'year': '2015',
      'period': 'M05',
      'periodName': 'May',
      'value': '1534835',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '8606',
        '3': '30836',
        '6': '12572',
        '12': '28377'},
       'pct_changes': {'1': '0.6', '3': '2.1', '6': '0.8', '12': '1.9'}}},
     {'year': '2015',
      'period': 'M04',
      'periodName': 'April',
      'value': '1526229',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '13256',
        '3': '30992',
        '6': '10479',
        '12': '25675'},
       'pct_changes': {'1': '0.9', '3': '2.1', '6': '0.7', '12': '1.7'}}},
     {'year': '2015',
      'period': 'M03',
      'periodName': 'March',
      'value': '1512973',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '8974',
        '3': '-15716',
        '6': '-41',
        '12': '24927'},
       'pct_changes': {'1': '0.6', '3': '-1.0', '6': '0.0', '12': '1.7'}}},
     {'year': '2015',
      'period': 'M02',
      'periodName': 'February',
      'value': '1503999',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '8762',
        '3': '-18264',
        '6': '-10930',
        '12': '30142'},
       'pct_changes': {'1': '0.6', '3': '-1.2', '6': '-0.7', '12': '2.0'}}},
     {'year': '2015',
      'period': 'M01',
      'periodName': 'January',
      'value': '1495237',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-33452',
        '3': '-20513',
        '6': '-11977',
        '12': '26099'},
       'pct_changes': {'1': '-2.2', '3': '-1.4', '6': '-0.8', '12': '1.8'}}},
     {'year': '2014',
      'period': 'M13',
      'periodName': 'Annual',
      'value': '1504320',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-24369',
        '3': '-11430',
        '6': '-2894',
        '12': '18776'},
       'pct_changes': {'1': '-1.6', '3': '-0.8', '6': '-0.2', '12': '1.3'}}},
     {'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '1528689',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '6426',
        '3': '15675',
        '6': '16762',
        '12': '23134'},
       'pct_changes': {'1': '0.4', '3': '1.0', '6': '1.1', '12': '1.5'}}},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '1522263',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '6513',
        '3': '7334',
        '6': '15805',
        '12': '22333'},
       'pct_changes': {'1': '0.4', '3': '0.5', '6': '1.0', '12': '1.5'}}},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '1515750',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '2736',
        '3': '8536',
        '6': '15196',
        '12': '26005'},
       'pct_changes': {'1': '0.2', '3': '0.6', '6': '1.0', '12': '1.7'}}},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '1513014',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-1915',
        '3': '1087',
        '6': '24968',
        '12': '21533'},
       'pct_changes': {'1': '-0.1', '3': '0.1', '6': '1.7', '12': '1.4'}}},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '1514929',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '7715',
        '3': '8471',
        '6': '41072',
        '12': '20168'},
       'pct_changes': {'1': '0.5', '3': '0.6', '6': '2.8', '12': '1.3'}}},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '1507214',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '-4713',
        '3': '6660',
        '6': '38076',
        '12': '19718'},
       'pct_changes': {'1': '-0.3', '3': '0.4', '6': '2.6', '12': '1.3'}}},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '1511927',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5469',
        '3': '23881',
        '6': '6372',
        '12': '14337'},
       'pct_changes': {'1': '0.4', '3': '1.6', '6': '0.4', '12': '1.0'}}},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '1506458',
      'footnotes': [{}],
      'calculations': {'net_changes': {'1': '5904',
        '3': '32601',
        '6': '6528',
        '12': '14970'},
       'pct_changes': {'1': '0.4', '3': '2.2', '6': '0.4', '12': '1.0'}}},
     {'year': '2014',

In [6]:
len(response_all)

51

In [7]:
response_all[0]['Results']['series'][0]['data'][-1]

{'year': '2001',
 'period': 'M01',
 'periodName': 'January',
 'value': '1506569',
 'footnotes': [{}]}

In [11]:
response_all[1]['Results']['series'][0]['data'][26]

{'year': '2016',
 'period': 'M13',
 'periodName': 'Annual',
 'value': '250255',
 'footnotes': [{}],
 'calculations': {'net_changes': {'1': '18186',
   '3': '6749',
   '6': '-29124',
   '12': '-5019'},
  'pct_changes': {'1': '7.8', '3': '2.8', '6': '-10.4', '12': '-2.0'}}}

In [12]:
response_all[0]['Results']['series'][0]['data'][0]['calculations']['pct_changes']

{'1': '-1.4', '3': '-0.8', '6': '-0.2', '12': '1.5'}

In [13]:
data = pd.DataFrame(columns=['state', 'year', 'value', 'pct_change'])
#print("Empty Dataframe ", data, sep='\n')

years = range(0, (2018-2002+1))
state_list = []
year_list = []
value_list = []
pct_changes_list = []

for state_index in range(len(states)):  # iterate over state indices
    for yr in years:  # iterate over years for each state index
        state_list.append(state_index)
        
        year_list.append(
            response_all[state_index]['Results']['series'][0]['data'][yr*13]['year']
        )
        value_list.append(
            response_all[state_index]['Results']['series'][0]['data'][yr*13]['value']
        )
        pct_changes_list.append(response_all[state_index]['Results']['series'][0]['data'][yr*13]['calculations']['pct_changes'])
    
print(len(state_list))
print(len(year_list))
print(len(value_list))
print(len(pct_changes_list))

867
867
867
867

In [14]:
#pct_changes_list

In [15]:
#pct_change is a list of values of each year and the last of each list is the annual percentage change

pct_changes_df = pd.DataFrame.from_dict(pct_changes_list)

pct_changes_df.head()

# The columns in pct_changes_df are '1', '3', '6' and '12'. We need to fetch the values of '12' for the 
# annual change

      1     3     6   12
0  -1.4  -0.8  -0.2  1.5
1  -1.0  -0.6  -0.1  1.2
2  -0.9  -0.4  -0.2  1.5
3  -1.7  -0.8  -0.4  1.9
4  -1.6  -0.8  -0.2  1.3

In [16]:
# df = pd.DataFrame(state_list,year_list,value_list,pct_changes_list)

values_dict = {'state_id': state_list,
               "year": year_list,
               "earnings": value_list,
              'pct_change': pct_changes_df['12']}

df = pd.DataFrame(values_dict)
df.head(20)

    state_id  year earnings pct_change
0          0  2018  1598129        1.5
1          0  2017  1574772        1.2
2          0  2016  1555542        1.5
3          0  2015  1532167        1.9
4          0  2014  1504320        1.3
5          0  2013  1485544        1.2
6          0  2012  1467367        1.3
7          0  2011  1449005        0.3
8          0  2010  1444072       -1.3
9          0  2009  1462992       -6.8
10         0  2008  1570188       -1.4
11         0  2007  1591980        1.1
12         0  2006  1574558        1.7
13         0  2005  1548068        2.6
14         0  2004  1509246        1.8
15         0  2003  1483039       -0.6
16         0  2002  1492477       -1.7
17         1  2018   246319       -0.2
18         1  2017   246852       -1.4
19         1  2016   250255       -2.0

In [18]:
# df_state = df.groupby(['state_id'])
# df_state.

state_dfs_dictionary = {}
state_ids = set(df['state_id'])

for state in state_ids:
    state_dfs_dictionary[state] = df[df['state_id'] == state]
    
state_dfs_dictionary[0]

    state_id  year earnings pct_change
0          0  2018  1598129        1.5
1          0  2017  1574772        1.2
2          0  2016  1555542        1.5
3          0  2015  1532167        1.9
4          0  2014  1504320        1.3
5          0  2013  1485544        1.2
6          0  2012  1467367        1.3
7          0  2011  1449005        0.3
8          0  2010  1444072       -1.3
9          0  2009  1462992       -6.8
10         0  2008  1570188       -1.4
11         0  2007  1591980        1.1
12         0  2006  1574558        1.7
13         0  2005  1548068        2.6
14         0  2004  1509246        1.8
15         0  2003  1483039       -0.6
16         0  2002  1492477       -1.7

In [19]:
for st in range(0,51):
    filename = "csv_series/earnings_states"+str(st)+".csv"
    state_dfs_dictionary[st].to_csv(filename, index=False, header=True)
    #print(str(st)+' done')

# NOT USED (BUT PRECIOUS ANYWAY :-) )

In [ ]:
# # create a data frame for each state

# data.iloc[0]['pct_change'][0]

In [ ]:
# data = pd.DataFrame(columns=['state', 'year', 'value', 'pct_change'])
# #print("Empty Dataframe ", data, sep='\n')

# years = range(0, (2018-2001+1))

# for state_index in range(len(states)):  # iterate over state indices
#     year = []
#     value = []
#     pct_changes = []
#     for yr in years:  # iterate over years for each state index
#         year.append(
#             response_all[state_index]['Results']['series'][0]['data'][yr*13]['year']
#         )
#         value.append(
#             response_all[state_index]['Results']['series'][0]['data'][yr*13]['value']
#         )
#         pct_changes.append(response_all[state_index]['Results']['series'][0]['data'][yr*13]['calculations']['pct_changes'])
    
#     data = data.append({'state': state_index, 'year': year, 'value': value, 'pct_change': pct_changes}, ignore_index=True)

# data

In [ ]:
# # create a data frame from the years and values 
# state_list = []
# years_list = []

# for stateind in 

# for stateind in range(len(states)):  # iterate over state indices 
#     year_stateind = data.iloc[stateind]['year']
#     earnings_stateind = data.iloc[stateind]['value']
#     change_stateind = data.iloc[stateind]['pct_change'] #pct_change is a list of values of each year and the last
#                                                             # of each list is the annual percentage change